:root {
	--darkColor: #dadada;
	--darkBG: #1c2022;
	--darkLink: rgb(203, 203, 203);
	--link: rgb(187, 46, 31);
	--metaInfoLight: gray;
	--metaInfoLightLink: black;
	--metaInfoDark: gray;
	--metaInfoDarkLink: #bebebe;
	--commentBG: rgba(128, 128, 128, 0.1411764705882353);
}

html,
body,
#app {
	margin: 0;
	height: 100%;
	width: 100%;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
		Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
}

ul {
	padding: 0;
}

li {
	list-style-type: none;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 50px;
}

.header {
	margin-bottom: 5px;
}

.dark {
	color: var(--darkColor);
	background: var(--darkBG);
	min-height: 100%;
}

.dark a {
	color: var(--darkLink);
}

.link {
	color: var(--link);
	text-decoration: none;
	font-weight: bold;
}

.row {
	display: flex;
	flex-direction: row;
}

.space-between {
	justify-content: space-between;
}

.nav-link {
	font-size: 18px;
	font-weight: bold;
	text-decoration: none;
	color: inherit;
}

.nav li {
	margin-right: 10px;
}

.btn-clear {
	border: none;
	background: transparent;
}

.center-text {
	text-align: center;
}

.post {
	margin: 20px 0;
}

.meta-info-light {
	margin-top: 5px;
	color: var(--metaInfoLight);
}

.meta-info-light a {
	color: var(--metaInfoLightLink);
}

.meta-info-light span {
	margin: 10px 0;
	margin-right: 6px;
}

.meta-info-dark {
	margin-top: 5px;
	color: var(--metaInfoDark);
}

.meta-info-dark a {
	color: var(--metaInfoDarkLink);
}

.meta-info-dark span {
	margin: 10px 0;
	margin-right: 6px;
}

.comment {
	background: var(--commentBG);
	padding: 10px;
	margin: 10px 0;
	border-radius: 5px;
}

.toggleCollapse {
	text-decoration: none;
	font-size: 0.9rem;
	display: block;
	margin: -5px 0 0 -5px;
}

.toggleCollapse:hover {
	text-decoration: underline;
}

a.toggle-dark {
	color: var(--metaInfoDarkLink);
}

a.toggle-light {
	color: var(--metaInfoLightLink);
}
